[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "/Users/brad/.vim/bundle/vim-airline"]
	path = /Users/brad/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "/Users/brad/.vim/bundle/nerdtree"]
	path = /Users/brad/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
